body{
    background-color:#273746;
}
table{
      margin: auto;
    color: white;
}
.contenedor{
   margin: auto;
   width: 500px;
   height: 320px;

   color: white; 
}
.registrar{height: 30px;
	background: #fc7323;
	border:0;
	padding-left: 20px;
	padding-right: 20px;
    color: #fff;
    margin-bottom: 5px;
}
input{	width: 100%;
	height: 25px;
	border: 1px solid gray;
	margin-bottom: 5px;
}
table
{
    border-collapse: collapse;
}
td, th {
    border: 1px solid black;
}
h1{
    text-align: center;
}